@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-thumb {
  @apply bg-gray-300 rounded-full transition-opacity duration-300; /* Tailwind Pink-500 and smooth opacity transition */
}

/* Scrollbar styles for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  @apply bg-pink-500 rounded-full;
  opacity: 0; /* Start with transparent scrollbar thumb */
  transition: opacity 0.3s ease-in-out; /* Smooth fade effect */
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* Fully opaque scrollbar thumb on hover */
}

.scroll-fade::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust height as needed */
  background: linear-gradient(to bottom, transparent, rgb(248 248 248 / var(--tw-bg-opacity, 1))); /* Fade effect */
  pointer-events: none; /* Ensure the overlay doesn't block interactions */
}

.scroll-fade-white::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust height as needed */
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1)); /* Fade effect */
    pointer-events: none; /* Ensure the overlay doesn't block interactions */
  }
  
  /* Add to your CSS file */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}
